:root {
  --backgroundColor: #000000b6;
  --primary-color: #bfbfbf;
  --danger: #df141483;
  --warning: #dfcb14bd;
  --gray-1: #ffffff;
  --gray-2: #e5e5e5;
  --gray-3: #818181;
  --gray-5: #000000;
  --overlay: #00000026;
  --overlay-main: #000000a2;
  --cell-1-color: #23750f;
  --cell-2-color: #e7b017;
  --cell-3-color: #ba15ec;
  --cell-4-color: #1567ec;
  --cell-5-color: #5515ec;
  --cell-6-color: #ec7d15;
  --cell-7-color: #ec15a4;
  --cell-8-color: #ec3615;
}

*:focus {
  outline: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100%;
}
